<h2 class="text-center"> Categorias</h2>
<br />
<table id="CategoryTable" class="table table-hover table-responsive-md table-bordered ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


@section scripts
{
    <script>
        var DiscountTable = $("#CategoryTable");
        $(document).ready(function () {
            var datatable = DiscountTable.DataTable(
                {
                    ajax: {
                        url: "Category/GetCategories",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            defaultContent: "#"
                        },
                        {
                            data: "Name",
                            render: function (data,type,category) {
                                return `<a href="/Product/Category/${data}" style="color:black">${data}</a>`
                            }
                        },
                        {
                            data: "CategoryId",
                            render: function (data) {
                                return `<a class="btn btn-warning btn-xs fa fa-edit" href="/Edit/Category/${data}"></a>
                                            <button type="button" data-id="${data}" class="btn btn-danger btn-xs fa fa-remove js-remove"></button>
                                                   `
                            }
                        }
                    ],
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": false,
                        "targets": 0
                    }],
                    "order": [[1, 'asc']],
                    "autoWidth": false,
                    "language": {
                        lengthMenu: "Mostrar _MENU_ registros por pagina",
                        zeroRecords: "No hay coincidencias",
                        infoEmpty: "No hay registros disponibles",
                        info: "Mostrando pagina _PAGE_ de _PAGES_",
                        infoFiltered: "(filtrado de _MAX_ registros)",
                        sSearch: "<i class='fa fa-search'></i>",
                        loadingRecords: "Cargando...",
                        processing: "Cargando registros",
                        paginate: {
                            next: "Siguiente",
                            previous: "Anterior"
                        },
                    },
                    "lengthMenu": [5, 10, 25, 50, 75, 100]
                });

            datatable.on('order.dt search.dt', function () {
                datatable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();


            DiscountTable.on("click", ".js-remove", function () {
                var button = $(this);
                bootbox.confirm("Estas seguro de que deseas eliminar esta categoria , se eliminaran todos los productos asociados a esta", function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: `Category/Delete/${button.attr("data-id")}`,
                            success: function (data) {
                                if (parseInt(data) == 1) {
                                    console.log(data);
                                    datatable.row(button.parents("tr"))
                                        .remove()
                                        .draw();
                                    bootbox.alert("Se ha borrado la categoria");
                                } else {
                                    bootbox.alert("No Se ha borrado la categoria, error interno");
                                }
                            },
                            error: function (response) {
                                bootbox.alert(response.responseText);
                            }
                        });
                    }
                })

            });
        });


    </script>
}