
<h2 class="text-center mb-5">Proveedores</h2>

    <table id="ProviderTable" class="table table-hover table-responsive-md table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


@section scripts
{
    <script>
        var ProviderTable = $("#ProviderTable");
        $(document).ready(function () {
            var datatable = ProviderTable.DataTable(
                {
                    ajax: {
                        url: "Provider/GetProviders",
                        dataSrc: ""
                    },
                    columns: [

                        {
                            data: "Name",
                            render: function (data,type,provider) {
                                return `<a href="/ProviderDetails/${provider.providerId}" style="color:black">${data}</a>`
                            }
                        },
                        {
                            data:"Email"
                        },
                        {
                            data:"Telephone"
                        },
                        {
                            data: "ProviderId",
                            render: function (data) {
                                return `<a class="btn btn-warning btn-xs fa fa-edit" href="/Provider/Edit/${data}"></a>
                                            <button type="button" data-id="${data}" class="btn btn-danger btn-xs fa fa-remove js-remove"></button>
                                                   `
                            }
                        }
                    ],
                    "columnDefs": [
                        { "searchable": false, "orderable": false, "targets": 3 },
                        { "name": "Name", "targets": 0 },
                        { "name": "Email", "targets": 1 },
                        { "name": "Telephone", "targets": 2 },
                    ],
                    "order": [[1, 'asc']],
                    "autoWidth": false,
                    "language": {
                        lengthMenu: "Mostrar _MENU_ registros por pagina",
                        zeroRecords: "No hay coincidencias",
                        infoEmpty: "No hay registros disponibles",
                        info: "Mostrando pagina _PAGE_ de _PAGES_",
                        infoFiltered: "(filtrado de _MAX_ registros)",
                        sSearch: "<i class='fa fa-search'></i>",
                        loadingRecords: "Cargando...",
                        processing: "Cargando registros",
                        paginate: {
                            next: "Siguiente",
                            previous: "Anterior"
                        },
                    },
                    "lengthMenu": [5, 10, 25, 50, 75, 100]
                });


            ProviderTable.on("click", ".js-remove", function () {
                var button = $(this);
                bootbox.confirm("Estas seguro de que deseas eliminar esta proveedor , se eliminaran todas las compras asociadas a este", function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: `Provider/Delete/${button.attr("data-id")}`,
                            success: function (data) {
                                if (parseInt(data) == 1) {
                                    console.log(data);
                                    datatable.row(button.parents("tr"))
                                        .remove()
                                        .draw();
                                    bootbox.alert("Se ha borrado el proveedor");
                                } else {
                                    bootbox.alert("No Se ha borrado el proveedor, error interno");
                                }
                            },
                            error: function (response) {
                                bootbox.alert(response.responseText);
                            }
                        });
                    }
                })

            });
        });


    </script>
}