@model DgrosStore.Models.viewModels.SalesViewModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div class="row">

    <div class="col col-lg-7 col-sm-12 col-md-8">

        <table class="table table-bordered productSalesTable text-lg-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cant</th>
                    <th scope="col">Desc</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>producto1</strong></td>
                    <td>@Html.TextBox("txt", null, new { @type = "number", @class = "form-control" })</td>
                    <td>@Html.TextBox("txt2", null, new { @type = "number", @class = "form-control" })</td>
                    <td>
                        <button class="btn btn-success btn-sm"><span class="fa fa-plus"></span></button>
                        <button class="btn btn-warning btn-sm"><span class="fa fa-minus"></span></button>
                        <button class="btn btn-danger btn-sm"><span class="fa fa-remove"></span></button>
                    </td>
                </tr>
                <tr class="trSize text-left">
                    <td colspan="4"><strong class="totalPrice">Total: $<span id="total">0</span></strong></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="col col-lg-5 col-sm-12 col-md-4">
        @using (Html.BeginForm("SaveSale", "Sales", FormMethod.Post, null))
        {
            <label for="Client"><strong>Cliente</strong></label>
            <div class="form-group row px-3">
                <div id="clientDiv" class="input-group inputDiv">
                    <div class="input-group-prepend">
                        <button type="button" id="searchClient" class="input-group-text"><i id="searchClientIcon"class="fa fa-search"></i></button>
                    </div>
                    <input type="text" id="clientInput">
                    <select id="clientSelect" class="form-control">
                        <option>seleccione un cliente</option>
                    </select>
                </div>
            </div>

            <label for="Product"><strong>Producto</strong></label>
            <div class="form-group row px-3">
                <div id="productDiv" class="input-group inputDiv">
                    <div class="input-group-prepend">
                        <button type="button" id="searchProduct" class="input-group-text"><i id="searchProductIcon" class="fa fa-search"></i></button>
                    </div>
                    <input type="text" id="productInput">
                    <select id="productSelect" class="form-control">
                        <option>seleccione un producto</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <button type="button" id="addProduct" class="btn btn-success btn-block btnSize">Agregar</button>
            </div>
            <div class="form-group">
                <label><strong>Metodo de pago</strong></label>
                @Html.EnumDropDownListFor(m => m.Sales.paymentMethod, "selecciona un metodo de pago", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label><strong>Comentario</strong></label>
                @Html.TextAreaFor(m => m.Sales.Commentary, 4, 50, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btnSize">Finalizar venta</button>
            </div>

        }


    </div>

</div>


@section scripts {

    <script>

        $(document).ready(function () {

            //para efectos en cliente
            $("#searchClient").click(function () {

                $("#searchClientIcon").toggleClass("fa fa-remove");
                $("#searchClientIcon").toggleClass("fa fa-search");
                $("#clientInput").toggleClass("show");
                $("#clientInput").val("");
            });

            //clientes

            $("#clientInput").keyup(function () {
                var client = $("#clientInput").val();
                var selectClient = $("#clientSelect");
                $.ajax({
                    type: "GET",
                    url: "Sales/GetClients",
                    data: { client: client },
                    success: function (data) {

                         data = JSON.parse(data);
                        if (data.length == 0) {
                            selectClient.html("<option value>no hay clientes con ese nombre</option>");
                        } else {
                            selectClient.html("");
                            $(data).each(function (index, item) {
                                selectClient.append(`<option value="${item.id}">${item.name +" " + item.lastName}</option>`)
                            });
                        }
                        
                    }
                });

            });

            //productos
            //para efectos en producto
            $("#searchProduct").click(function () {

                $("#searchProductIcon").toggleClass("fa fa-remove");
                $("#searchProductIcon").toggleClass("fa fa-search");
                $("#productInput").toggleClass("show");
                $("#productInput").val("");
            });

            //productos
            $("#productInput").keyup(function () {
                var product = $("#productInput").val();
                var selectProduct = $("#productSelect");
                $.ajax({
                    type: "GET",
                    url: "Sales/GetProducts",
                    data: { product: product},
                    success: function (data) {

                        data = JSON.parse(data);
                        if (data.length == 0) {
                            selectProduct.html("<option value>no hay productos con ese nombre</option>");
                        } else {
                            selectProduct.html("");
                            $(data).each(function (index, item) {
                                selectProduct.append(`<option value="${item.id}">${item.name}</option>`)
                            });
                        }

                    }
                });

            });


        });
        

    </script>

}