
<h2 class="text-center">Productos</h2>
<table id="ProductsTable" class="table table-hover table-responsive-md table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio Compra</th>
            <th scope="col">Precio Venta</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        var ProductsTable = $("#ProductsTable");
        var url = window.location.href;
        var category = url.substring(url.lastIndexOf("/") + 1);
        console.log(category);
        $(document).ready(function () {
            var datatable = ProductsTable.DataTable(
                {
                    serverSide: true,
                    processing: true,
                    ajax: {
                        url: `/Product/GetProductByCategory`,
                        data: { category },
                        dataSrc: "data"
                    },
                    columns: [
                        {
                            data: "Name",
                            render: function (data, type, product) {
                                return `<a href="/Product/details/${product.ProductId}" style="color:black">${product.Name}</a>`
                            }
                        },
                        {
                            data: "ShoppingPrice"
                        },
                        {
                            data: "SellingPrice"
                        },
                        {
                            data: "Stock"
                        },
                        {
                            data: "ProductId",
                            render: function (data) {
                                return `<a class="btn btn-warning btn-xs fa fa-edit" href="/Edit/Product/${data}"></a>
                                        <button type="button" data-id="${data}" class="btn btn-danger btn-xs fa fa-remove js-remove"></button>
                                               `
                            }
                        }
                    ],
                    "columnDefs": [
                        { "searchable": false, "orderable": false, "targets": 4 },
                        { "name": "Name", "targets": 0 },
                        { "name": "ShoppingPrice", "targets": 1 },
                        { "name": "SellingPrice", "targets": 2 },
                        { "name": "Stock", "targets": 3 }
                    ],
                    "order": [[1, 'asc']],
                    "autoWidth": false,
                    "language": {
                        lengthMenu: "Mostrar _MENU_ registros por pagina",
                        zeroRecords: "No hay coincidencias",
                        infoEmpty: "No hay registros disponibles",
                        info: "Mostrando pagina _PAGE_ de _PAGES_",
                        infoFiltered: "(filtrado de _MAX_ registros)",
                        sSearch: "<i class='fa fa-search'></i>",
                        loadingRecords: "Cargando...",
                        processing: "Cargando registros",
                        paginate: {
                            next: "Siguiente",
                            previous: "Anterior"
                        },
                    },
                    "lengthMenu": [5, 10, 25, 50, 75, 100]
                });



            ProductsTable.on("click", ".js-remove", function () {
                var button = $(this);
                bootbox.confirm("Estas seguro de que deseas eliminar este producto", function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: `/Product/Delete/${button.attr("data-id")}`,
                            success: function (data) {
                                if (parseInt(data) == 1) {
                                    datatable.row(button.parents("tr"))
                                        .remove()
                                        .draw();
                                    bootbox.alert("Se ha borrado el producto");
                                } else {
                                    bootbox.alert("No Se ha borrado el producto, error interno");
                                }
                            },
                            error: function (response) {
                                bootbox.alert(response.responseText);
                            }
                        });
                    }
                });

            });
        });


    </script>
}

