body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error{
    color: red;
}
.input-validation-error{
    border: 2px solid red;
}

.productSalesTable {
    max-height: 524px ;
}


.totalPrice{
    font-size: 1.7em;
}

.btnSize{
    width:280px;
}

.trSize{
    height:30px;
}

.clientSelect{
    z-index: 1;
}


/*botones de busqueda para clientes y productos*/
.inputDiv {
    width: 280px;
}

.inputDiv input[type=text] {
        width: 0px;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        /*padding: 12px 20px 12px 12px;*/
        padding: 0;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        height: 38px;
        border-left: 0;
}

.showIcon {
    width: 240px !important;
    padding: 12px 20px 12px 10px !important;
    
}


/*table productos*/

.totalDiv {
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    padding: 12px 20px 12px 10px;
}

#salesProductTableDiv {
    max-height: 524px;
    overflow-y:scroll;
}

#salesTableFormDiv {
}

.formWith{
    width: 70px;
}

/*paginacion*/
